.nav-wrapper {
    background-color: #eb9605;
    font-family: "Ropa Sans", sans-serif;
}

body {
    background-color: #431c53;
}

.responsiveImg {
    width: 80vh;
    padding: 5%;
}

#pet-image {
    width: auto;
    height: auto;
}

#map {
    width: 100%;
}

.mainLogo {
    max-height: 550px;
    margin: auto;
}

.questions {
    color: white;
}

.btn {
    background-color: #eb9605;
    animation-delay: 2s;
    font-family: "Odibee Sans", cursive;
}

#form-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#warn {
    color: red;
}

#age-size {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#age-size>* {
    padding: 5px 10px;
}

#next-pet {
    margin-bottom: 20px;
}

#questions-columns {
    display: flex;
    flex: row;
}

#questions-columns>div {
    padding: 15px;
}

#submit-wrapper {
    margin-left: 15px;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 50;
}

nav ul a {
    padding: 10px;
}

@media only screen and (min-width: 501px) {
    .mobileNav {
        display: none;
    }
    #map {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 500px) {
    .desktopNav {
        display: none;
    }
    .mobileNav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #map {
        width: 320px;
        height: auto;
    }
    #pet-image {
        width: 100%;
    }
    #map {
        width: 100%;
        margin-bottom: 100px;
    }
    #main-logo-wrapper {
        position: absolute;
    }
}

.hidden {
    display: none;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.collection {
    margin: 20px 10px 60px 10px;
}

.row .col {
    padding-left: 0px;
    padding-right: 0px;
}

img.circle {
    height: 150px;
    width: auto;
}


/* 
  font-family: 'Abel', sans-serif;
  font-family: 'Ropa Sans', sans-serif;
  font-family: 'Odibee Sans', cursive;
  font-family: 'Pontano Sans', sans-serif; 
  */